<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الحجوزات</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body dir="rtl">
    <div class="alarm1">
        <div class="inputsAlarm">
            <h3 style="color: #fff; margin: 10px;">هل تريد الحذف</h3>
            <input type="password" id="passDelete" placeholder="ادخل الباسوورد">
            <div class="buttons">
                <button id="btnCheckEdite" onclick="checkPass1();">موافق</button>
                <button id="btnCancel" onclick="exitePass();">الغاء</button>
            </div>
        </div>
    </div>
    <div class="alarm2">
        <div class="inputsAlarm">
            <h3 style="color: #fff; margin: 10px;">هل تريد الحذف</h3>
            <div class="buttons">
                <button id="btnCheckEdite" onclick="checkPass2();">موافق</button>
                <button id="btnCancel" onclick="exitePass();">الغاء</button>
            </div>
        </div>
    </div>
    <div class="reservation">
        <header>
            <img class="home" onclick="homePage();" src="../../img/huanfang.ico" alt="home">
            <span class="userName"></span>
            <h1>الحجوزات</h1>
            <span class="dateAndTime"></span>
            <a class="exit" href="../../index.html"><img src="../../img/cancel.ico" alt="exit"></a>
        </header>
        <aside>
            <button id="btnAllReservation" onclick="showTableAllReservation();">جميع الحجوزات</button>
            <button id="btnDress"  onclick="showReservation();">حجز جديد</button>
            <button id="btnSear" onclick="showSearch(this.value);">بحث</button>
            <button id="btnPrintEmpty1" onclick="printInvoiceEmpty();">طباعة فواتير فارغة جماعي</button>
            <button id="btnPrintEmpty1" onclick="printInvoiceEmpty2();">طباعة فواتير فارغة فردي</button>
            <button id="btnPrintEmpty1" onclick="printInvoiceEmpty3();">طباعة فواتير فارغة ثنائي</button>
            <button id="btnSear" onclick="window.location.reload();">تحديث</button>
            <!-- <button id="btnPrintEmpty2" onclick="printReceiptEmpty();">طباعة ايصالات فارغة</button> -->


        </aside>
        <div class="showMessage">
            <h2 class="nameItems"></h2>
            <h3>تم حجز هذاالصنف مسبقا في هذا التاريخ</h3>
            <div class="divInputs">
                <input type="button" class="btnOk" onclick="resetInputs();" value="موافق">
                <input type="button" class="btnCancel" onclick="refresh();" value="الغاء">
            </div>
        </div>
        <div class="content">
            
            <section id="allDetails" >
                <div class="cruds">
                    <table border="1">
                        <tr>
                            <th colspan="17" class="headTable">تفاصيل الحجز</th>
                        </tr>
                        <tr>
                            <th>م</th>
                            <th>التاريخ</th>
                            <th>الوقت</th>
                            <th>رقم الحجز</th>
                            <th>الاسم</th>
                            <th>تاريخ الاستلام</th>
                            <th> رقم الهاتف</th>
                            <th> 2 رقم الهاتف</th>
                            <th> رقم الصنف</th>
                            <th>الصنف</th>
                            <th>السعر</th>
                            <th>المبلغ المدفوع</th>
                            <th>المبلغ المتبقي</th>
                            <th> تعديل</th>
                            <th> تعديل</th>
                            <th>حذف</th>
                            
                            

                        </tr>
                        <tbody class="AllDetails">
                            
                            
                        </tbody>
                    </table>
                    
                </div>
            </section>
            <section class="search">
                <form action="" class="inputs" id="search">
                    <div class="priceOnly">
                        <input type="text"  id="inputSearch" onkeyup="searchNumReserve(this.value)" placeholder="ادخل (باركود - رقم حجز - اسم العميلة)">
                        <input type="date" id="dateSearch" onclick="searchDateReserve(this.value);"  onchange="searchDateReserve(this.value)">
                        <button id="btnPrint" onclick="printSearch();">طباعة</button>
                    </div>
                </form>
                
                <div class="cruds">
                    <table border="1">
                        <tr>
                            <th colspan="15" class="headTable">نتائج البحث</th>
                        </tr>
                        <tr>
                            <th>م</th>
                            <th>التاريخ</th>
                            <th>الوقت</th>
                            <th>رقم الحجز</th>
                            <th>الاسم</th>
                            <th>تاريخ الاستلام</th>
                            <th>رقم الصنف</th>
                            <th>الاصناف</th>
                            <th>السعر</th>
                            <th>المبلغ المدفوع</th>
                            <th>المبلغ المتبقي</th>
                            <th>ايصال الطباعة</th>
                            <th>تسليم</th>
                            <th>استلام</th>
                            <th>التأمين</th>
                            
                        </tr>
                        <tbody class="tbodysearch">
                            
                            
                        </tbody>
                    </table>
                    
                </div>
            </section>
            <section id="AllReservation">
                <div class="cruds">
                    <table border="1">
                        <tr>
                            <th colspan="14" class="headTable">جميع الحجوزات</th>
                        </tr>
                        <tr>
                            <!-- <th>م</th> -->
                            <th>التاريخ</th>
                            <th>الوقت</th>
                            <th>رقم</th>
                            <th>رقم الحجز</th>
                            <th>الاسم</th>
                            <th>تاريخ الاستلام</th>
                            <th>ايصال نقدية</th>
                            
                        </tr>
                        <tbody class="AllReservation">
                            
                            
                        </tbody>
                    </table>
                    
                </div>
            </section>
            
            <section class="inputsItems">
                <div style="display: flex;">
                    <button id="btnShowInp" onclick="showInputs();">اضافة</button>
                    <input id="btnSearDe" value="" placeholder="بحث" style="display: none;" onkeyup="showSearch2(this.value);">
                    <!-- <input type="date" id="SearchDataRes" value="" onchange="searchDateReserve(value);"> -->
                </div>
                
                <form class="inputs" id="reserveAdd" novalidate>
                    <div class="add">
                        <div class="priceOnly infoPersonal">
                            <input type="date" name="" value="" id="dateNow" style="display: none;">
                            <input type="date" name="" value="" id="startReserve" onchange='checkReserve();'  required>
                            <input type="date" name="" value="" id="endReserve"  required style="display: none;">
                            <input type="text" name="" value="" id="nameReserve" placeholder="ادخل الاسم" onkeyup="getNumReserve();" minlength="5" required>
                            <input type="tel" name="" value="" id="numPersonal" minlength="11" maxlength="11" placeholder="رقم هاتف" required>
                            <input type="tel" name="" value="" id="phone" minlength="11" maxlength="11" placeholder="رقم هاتف" required>
                            <input type="text" name="" value="" id="adress" placeholder="ادخل العنوان" required>
                        </div>
                        <div class="priceOnly infoItems">
                            <input type="number" name="" value="" onkeyup='' id="numReserve" placeholder="رقم الحجز " readonly required>
                            <input type="number" name="" value="" onkeyup='checkReserve();' id="barcode" placeholder="ادخل الباركود" required>
                            <input type="text" id="itemsDress" value="" placeholder="الصنف" >
                            <input type="text" id="itemsOthers" value="" placeholder="اصناف اخري"> 
                        </div>
                        
                        <div class="priceOnly infoPrice">
                            <input  type="number" name="" value="" id="totalPrice" onkeyup="calcRemain();" placeholder="" >
                            <input  type="number" name="" value="" id="totalPr"  placeholder="الاجمالي" readonly>
                            <input  type="number" name="" value="" id="pricePaid" onkeyup="calcRemain();" placeholder="المبلغ المدفوع" >
                            <input  type="number" name="" value="" id="priceRemaining"  placeholder="المبلغ المتبقي" readonly>
                        </div>
                    </div>
                    <div class="settlement">
                        <div class="priceOnly infoSettlement">
                            <input type="date" name="" value="" id="dateSettle"  >
                            <input  type="number" name="" value="" id="remainAll"  placeholder="المبلغ المتبقي" readonly>
                            <input  type="number" name="" value="" id="priceSettle" onkeyup="calcTotal();" placeholder="المبلغ المدفوع" readonly>
                            <input  type="number" name="" value="" id="totalRemainAll" placeholder="المتبقي" readonly>    
                        </div>
                        <div class="priceOnly infoRecieved">
                            <input type="text" value="" id="namRecieve" placeholder="اسم المستلم">
                            <input type="text" value="" id="idNameRecieve" minlength="14" maxlength="14" placeholder="الرقم القومي للمستلم">
                            <input type="text" value="" id="adressRecieve" placeholder="عنوان المستلم">
                            <input type="text" value="" id="phoneRecieve" minlength="11" maxlength="11" placeholder="رقم التليفون المستلم">  
                        </div>
                    </div>
                    
                    
                    <div class="priceOnly">
                        <button type="button"  id="create">اضافة حجز</button>
                        <button type="reset" onclick='refresh();'>الغاء</button>
                    </div>
                </form>
                
                
                
            </section>
            <div class="cruds viewTable">
                <table border="1">
                    <tr>
                        <th colspan="20" class="headTable">جميع الحجوزات</th>
                    </tr>
                    <tr>
                        <th>م</th>
                        <th>التاريخ</th>
                        <th>اسم المستخدم</th>
                        <th>رقم الحجز</th>
                        <th>الاسم</th>
                        <th>تاريخ الاستلام</th>
                        <th>عرض</th>
                        <th>ايصال نقدية</th>
                        <th>اضافة</th>
                        <th>تصفية</th>
                        <th>حذف</th>
                    </tr>
                    <tbody class="tbodyReserve">
                        
                        
                    </tbody>
                </table>
                
            </div>
            <section class="invoiceClient">
                <div >
                    <table border="1">
                        <thead>
                            <tr>
                                <th colspan="12" class="headNumReserve">حجز جديد</th>
                            </tr>
                            <tr>
                                <th>م</th>
                                <th>التاريخ</th>
                                <th>اسم المستخدم</th>
                                <th>الاسم</th>
                                <th>رقم الحجز</th>
                                <th>تاريخ الاستلام</th>
                                <th>فستان</th>
                                <th>رقم الصنف</th>
                                <th>اصناف اخري</th>
                                <th>المبلغ</th>
                                <th>المبلغ المدفوع</th>
                                <th>المبلغ المتبقي</th>   
                                <a href="../print/printReserve/reservation.html"></a>                         
                            </tr>
                        </thead>
                        <tbody class="invoiceReserve">

                        </tbody>
                    </table>
                    <div class="priceOnly">
                        <button type="submit"  id="saveData">حفظ</button>
                        <button type="reset" onclick="refresh();">الغاء</button>
                    </div>
                </div>
            </section>
            
            
            
        </div>
        
    </div>
    <div class="invoice invoice1">
        <div  class="recipt-content">
            <div class="header">
                <div class="titleHeader">
                    <h3>بيوتي سنتر <span class="engy">إنجـي</span></h3>
                    <p>01158003238</p>
                    <p>شارع طريق النصر - بعد التوحيد والنور ب 200 متر - بجوار فرن السفير الدور الثاني</p>
                </div>
                <div class="logo">
                    <h4>مع إنجي انتي في حتة تانية خالص</h4>
                    <img src="../../img/logo.jpg" alt="logo">
                </div>
            </div>
            <div class="content" >
                <div style="display: flex;width: 100%;justify-content: space-around;">

                    <div class="mainDetails">
                        <h4 class="receiptNamePers">الاسم:</h4>
                        <h4 class="receiptPhone">رقم الهاتف:</h4>
                    </div>
                    <div class="mainDetails">
                        <h4 class="receiptAdress">العنوان:</h4>
                        <h4 class="receiptNumReserve">رقم الحجز:</h4>
                    </div>
                </div>
                <!-- <div class="mainDetails">
                    <h4 class=""></h4>
                </div> -->
                

                <table border="1" style="margin: auto;">
                    <thead>
                        <tr>
                            <td style="width: 20px;">م</td>
                            <td style="width: 200px;">رقم الصنف</td>
                            <td style="width: 400px;">اسم الصنف</td>
                            <td style="width: 150px;">صنف اخر</td>
                            <td style="width: 100px;">تاريخ الاستلام</td>
                            <td style="width: 70px;">المبلغ</td>
                            <td style="width: 70px;">المبلغ المدفوع</td>
                            <td style="width: 70px;">الباقي</td>

                        </tr>
                    </thead>
                    <tbody >
                        <tr>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="5">الاجمالي</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
               
                
            </div>
            شروط العقد :-
            <br>
            <p>1-يجب علي (العميل ) تسليم الفستان في موعد اقصاه ( 11 صباحا) والا سوف يعتبر بعد الساعة ( 11 صباحا) ايجار اخر بنفس المبلغ المذكور فالعقد </p>
            <p>2-يتحمل (العميل) الموقع علي هذا العقد كافة الاضرار الناجمة عن سوء استخدام الاشياء المؤجرة من المكان.</p>
            <p>3-السنتر غير مسئول عن فقدان اي متعلقات شخصية في المكان.</p>
            <p>4-اقصي عدد مرافق مع العروسة اثنان فقط</p>
            <p>5-الالتزام التام بالمواعيد التي يحددها السنتر لضبط مراحل الميكب والتواجد فالمواعيد المحددة ويعتبر السنتر غير مسئول في حالة تأخير العروسة اذا لزم الامر لذا لابد وضروري التواجد في الميعاد المحدد رجاء.</p>
            <p>6-يجب علي العميل تصفية المبلغ المتبقي قبل مغادرة السنتر.</p>
            <p>7-لا يجوز استرداد العربون لاي ظرف مهما كام (مع امكانية تغيير الموعد او الصنف)</p>
            
            <hr width="50%" style="margin:10px auto;">

            <footer>
                <p> تاريخ التحرير  :  <span >...................</span></p>
                <p> وقت التحرير  :  <span >...................</span></p>
                <p>اسم المستخدم: <span >..................</span></p>
            </footer>   
            <br>
             
        </div>
       
        <hr>
        
        <div  class="recipt-content">
            <div class="header">
                <div class="titleHeader">
                    <h3>بيوتي سنتر <span class="engy">إنجـي</span></h3>
                    <p>01158003238</p>
                    <p>شارع طريق النصر - بعد التوحيد والنور ب 200 متر - بجوار فرن السفير الدور الثاني</p>
                </div>
                <div class="logo">
                    <h4>مع إنجي انتي في حتة تانية خالص</h4>
                    <img src="../../img/logo.jpg" alt="logo">
                </div>
            </div>
            <div class="content">
                <div style="display: flex;width: 100%;justify-content: space-around;">

                    <div class="mainDetails">
                        <h4 class="receiptNamePers">الاسم:</h4>
                        <h4 class="receiptPhone">رقم الهاتف:</h4>
                    </div>
                    <div class="mainDetails">
                        <h4 class="receiptAdress">العنوان:</h4>
                        <h4 class="receiptNumReserve">رقم الحجز:</h4>
                    </div>
                </div>
                <table border="1" style="margin: auto;">
                    <thead>
                        <tr>
                            <td style="width: 20px;">م</td>
                            <td style="width: 200px;">رقم الصنف</td>
                            <td style="width: 400px;">اسم الصنف</td>
                            <td style="width: 150px;">صنف اخر</td>
                            <td style="width: 100px;">تاريخ الاستلام</td>
                            <td style="width: 70px;">المبلغ</td>
                            <td style="width: 70px;">المبلغ المدفوع</td>
                            <td style="width: 70px;">الباقي</td>

                        </tr>
                    </thead>
                    <tbody >
                        <tr>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="5">الاجمالي</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
               
                
            </div>
            شروط العقد :-
            <br>
            <p>1-يجب علي (العميل ) تسليم الفستان في موعد اقصاه ( 11 صباحا) والا سوف يعتبر بعد الساعة ( 11 صباحا) ايجار اخر بنفس المبلغ المذكور فالعقد </p>
            <p>2-يتحمل (العميل) الموقع علي هذا العقد كافة الاضرار الناجمة عن سوء استخدام الاشياء المؤجرة من المكان.</p>
            <p>3-السنتر غير مسئول عن فقدان اي متعلقات شخصية في المكان.</p>
            <p>4-اقصي عدد مرافق مع العروسة اثنان فقط</p>
            <p>5-الالتزام التام بالمواعيد التي يحددها السنتر لضبط مراحل الميكب والتواجد فالمواعيد المحددة ويعتبر السنتر غير مسئول في حالة تأخير العروسة اذا لزم الامر لذا لابد وضروري التواجد في الميعاد المحدد رجاء.</p>
            <p>6-يجب علي العميل تصفية المبلغ المتبقي قبل مغادرة السنتر.</p>
            <p>7-لا يجوز استرداد العربون لاي ظرف مهما كام (مع امكانية تغيير الموعد او الصنف)</p>
            

            <hr width="50%" style="margin:10px auto;">

            <footer>
                <p> تاريخ التحرير  :  <span >...................</span></p>
                <p> وقت التحرير  :  <span >...................</span></p>
                <p>اسم المستخدم: <span >..................</span></p>
            </footer>   
            <br>
             
        </div>
    </div>

    <div class="invoice invoice2">
        <div  class="recipt-content">
            <div class="header">
                <div class="titleHeader">
                    <h3>بيوتي سنتر <span class="engy">إنجـي</span></h3>
                    <p>01158003238</p>
                    <p>شارع طريق النصر - بعد التوحيد والنور ب 200 متر - بجوار فرن السفير الدور الثاني</p>
                </div>
                <div class="logo">
                    <h4>مع إنجي انتي في حتة تانية خالص</h4>
                    <img src="../../img/logo.jpg" alt="logo">
                </div>
            </div>
            <div class="content">
                <div style="display: flex;width: 100%;justify-content: space-around;">

                    <div class="mainDetails">
                        <h4 class="receiptNamePers">الاسم:</h4>
                        <h4 class="receiptPhone">رقم الهاتف:</h4>
                    </div>
                    <div class="mainDetails">
                        <h4 class="receiptAdress">العنوان:</h4>
                        <h4 class="receiptNumReserve">رقم الحجز:</h4>
                    </div>
                </div>
                <!-- <div class="mainDetails">
                    <h4 class=""></h4>
                </div> -->
                

                <table border="1" style="margin: auto;">
                    <thead>
                        <tr>
                            <td style="width: 20px;">م</td>
                            <td style="width: 200px;">رقم الصنف</td>
                            <td style="width: 400px;">اسم الصنف</td>
                            <td style="width: 150px;">صنف اخر</td>
                            <td style="width: 100px;">تاريخ الاستلام</td>
                            <td style="width: 70px;">المبلغ</td>
                            <td style="width: 70px;">المبلغ المدفوع</td>
                            <td style="width: 70px;">الباقي</td>

                        </tr>
                    </thead>
                    <tbody >
                        <tr>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="5">الاجمالي</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
               
                
            </div>
            شروط العقد :-
            <br>
            <p>1-يجب علي (العميل ) تسليم الفستان في موعد اقصاه ( 11 صباحا) والا سوف يعتبر بعد الساعة ( 11 صباحا) ايجار اخر بنفس المبلغ المذكور فالعقد </p>
            <p>2-يتحمل (العميل) الموقع علي هذا العقد كافة الاضرار الناجمة عن سوء استخدام الاشياء المؤجرة من المكان.</p>
            <p>3-السنتر غير مسئول عن فقدان اي متعلقات شخصية في المكان.</p>
            <p>4-اقصي عدد مرافق مع العروسة اثنان فقط</p>
            <p>5-الالتزام التام بالمواعيد التي يحددها السنتر لضبط مراحل الميكب والتواجد فالمواعيد المحددة ويعتبر السنتر غير مسئول في حالة تأخير العروسة اذا لزم الامر لذا لابد وضروري التواجد في الميعاد المحدد رجاء.</p>
            <p>6-يجب علي العميل تصفية المبلغ المتبقي قبل مغادرة السنتر.</p>
            <p>7-لا يجوز استرداد العربون لاي ظرف مهما كام (مع امكانية تغيير الموعد او الصنف)</p>
            
            <hr width="50%" style="margin:10px auto;">

            <footer>
                <p> تاريخ التحرير  :  <span >...................</span></p>
                <p> وقت التحرير  :  <span >...................</span></p>
                <p>اسم المستخدم: <span >..................</span></p>
            </footer> 
            <br>
               
        </div>
        <br>
        <hr>
        <br>
        <hr>
        <br>
        <hr>
        <br>
        <div  class="recipt-content">
            <div class="header">
                <div class="titleHeader">
                    <h3>بيوتي سنتر <span class="engy">إنجـي</span></h3>
                    <p>01158003238</p>
                    <p>شارع طريق النصر - بعد التوحيد والنور ب 200 متر - بجوار فرن السفير الدور الثاني</p>
                </div>
                <div class="logo">
                    <h4>مع إنجي انتي في حتة تانية خالص</h4>
                    <img src="../../img/logo.jpg" alt="logo">
                </div>
            </div>
            <div class="content">
                <div style="display: flex;width: 100%;justify-content: space-around;">

                    <div class="mainDetails">
                        <h4 class="receiptNamePers">الاسم:</h4>
                        <h4 class="receiptPhone">رقم الهاتف:</h4>
                    </div>
                    <div class="mainDetails">
                        <h4 class="receiptAdress">العنوان:</h4>
                        <h4 class="receiptNumReserve">رقم الحجز:</h4>
                    </div>
                </div>
                <table border="1" style="margin: auto;">
                    <thead>
                        <tr>
                            <td style="width: 20px;">م</td>
                            <td style="width: 200px;">رقم الصنف</td>
                            <td style="width: 400px;">اسم الصنف</td>
                            <td style="width: 150px;">صنف اخر</td>
                            <td style="width: 100px;">تاريخ الاستلام</td>
                            <td style="width: 70px;">المبلغ</td>
                            <td style="width: 70px;">المبلغ المدفوع</td>
                            <td style="width: 70px;">الباقي</td>

                        </tr>
                    </thead>
                    <tbody >
                        <tr>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="5">الاجمالي</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
               
                
            </div>
            شروط العقد :-
            <br>
            <p>1-يجب علي (العميل ) تسليم الفستان في موعد اقصاه ( 11 صباحا) والا سوف يعتبر بعد الساعة ( 11 صباحا) ايجار اخر بنفس المبلغ المذكور فالعقد </p>
            <p>2-يتحمل (العميل) الموقع علي هذا العقد كافة الاضرار الناجمة عن سوء استخدام الاشياء المؤجرة من المكان.</p>
            <p>3-السنتر غير مسئول عن فقدان اي متعلقات شخصية في المكان.</p>
            <p>4-اقصي عدد مرافق مع العروسة اثنان فقط</p>
            <p>5-الالتزام التام بالمواعيد التي يحددها السنتر لضبط مراحل الميكب والتواجد فالمواعيد المحددة ويعتبر السنتر غير مسئول في حالة تأخير العروسة اذا لزم الامر لذا لابد وضروري التواجد في الميعاد المحدد رجاء.</p>
            <p>6-يجب علي العميل تصفية المبلغ المتبقي قبل مغادرة السنتر.</p>
            <p>7-لا يجوز استرداد العربون لاي ظرف مهما كام (مع امكانية تغيير الموعد او الصنف)</p>
            

            <hr width="50%" style="margin:10px auto;">

            <footer>
                <p> تاريخ التحرير  :  <span >...................</span></p>
                <p> وقت التحرير  :  <span >...................</span></p>
                <p>اسم المستخدم: <span >..................</span></p>
            </footer>   
            <br>
             
        </div>
    </div>

    <div class="invoice invoice3">
        <div  class="recipt-content">
            <div class="header">
                <div class="titleHeader">
                    <h3>بيوتي سنتر <span class="engy">إنجـي</span></h3>
                    <p>01158003238</p>
                    <p>شارع طريق النصر - بعد التوحيد والنور ب 200 متر - بجوار فرن السفير الدور الثاني</p>
                </div>
                <div class="logo">
                    <h4>مع إنجي انتي في حتة تانية خالص</h4>
                    <img src="../../img/logo.jpg" alt="logo">
                </div>
            </div>
            <div class="content">
                <div style="display: flex;width: 100%;justify-content: space-around;">

                    <div class="mainDetails">
                        <h4 class="receiptNamePers">الاسم:</h4>
                        <h4 class="receiptPhone">رقم الهاتف:</h4>
                    </div>
                    <div class="mainDetails">
                        <h4 class="receiptAdress">العنوان:</h4>
                        <h4 class="receiptNumReserve">رقم الحجز:</h4>
                    </div>
                </div>
                <!-- <div class="mainDetails">
                    <h4 class=""></h4>
                </div> -->
                

                <table border="1" style="margin: auto;">
                    <thead>
                        <tr>
                            <td style="width: 20px;">م</td>
                            <td style="width: 200px;">رقم الصنف</td>
                            <td style="width: 400px;">اسم الصنف</td>
                            <td style="width: 150px;">صنف اخر</td>
                            <td style="width: 100px;">تاريخ الاستلام</td>
                            <td style="width: 70px;">المبلغ</td>
                            <td style="width: 70px;">المبلغ المدفوع</td>
                            <td style="width: 70px;">الباقي</td>

                        </tr>
                    </thead>
                    <tbody >
                        <tr>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="5">الاجمالي</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
               
                
            </div>
            شروط العقد :-
            <br>
            <p>1-يجب علي (العميل ) تسليم الفستان في موعد اقصاه ( 11 صباحا) والا سوف يعتبر بعد الساعة ( 11 صباحا) ايجار اخر بنفس المبلغ المذكور فالعقد </p>
            <p>2-يتحمل (العميل) الموقع علي هذا العقد كافة الاضرار الناجمة عن سوء استخدام الاشياء المؤجرة من المكان.</p>
            <p>3-السنتر غير مسئول عن فقدان اي متعلقات شخصية في المكان.</p>
            <p>4-اقصي عدد مرافق مع العروسة اثنان فقط</p>
            <p>5-الالتزام التام بالمواعيد التي يحددها السنتر لضبط مراحل الميكب والتواجد فالمواعيد المحددة ويعتبر السنتر غير مسئول في حالة تأخير العروسة اذا لزم الامر لذا لابد وضروري التواجد في الميعاد المحدد رجاء.</p>
            <p>6-يجب علي العميل تصفية المبلغ المتبقي قبل مغادرة السنتر.</p>
            <p>7-لا يجوز استرداد العربون لاي ظرف مهما كام (مع امكانية تغيير الموعد او الصنف)</p>
            
            <hr width="50%" style="margin:10px auto;">

            <footer>
                <p> تاريخ التحرير  :  <span >...................</span></p>
                <p> وقت التحرير  :  <span >...................</span></p>
                <p>اسم المستخدم: <span >..................</span></p>
            </footer> 
            <br>
               
        </div>
        <br>
        <hr>
        <br>
        <hr>
        <br>
        <hr>
        <br>
        <div  class="recipt-content">
            <div class="header">
                <div class="titleHeader">
                    <h3>بيوتي سنتر <span class="engy">إنجـي</span></h3>
                    <p>01158003238</p>
                    <p>شارع طريق النصر - بعد التوحيد والنور ب 200 متر - بجوار فرن السفير الدور الثاني</p>
                </div>
                <div class="logo">
                    <h4>مع إنجي انتي في حتة تانية خالص</h4>
                    <img src="../../img/logo.jpg" alt="logo">
                </div>
            </div>
            <div class="content">
                <div style="display: flex;width: 100%;justify-content: space-around;">

                    <div class="mainDetails">
                        <h4 class="receiptNamePers">الاسم:</h4>
                        <h4 class="receiptPhone">رقم الهاتف:</h4>
                    </div>
                    <div class="mainDetails">
                        <h4 class="receiptAdress">العنوان:</h4>
                        <h4 class="receiptNumReserve">رقم الحجز:</h4>
                    </div>
                </div>
                <table border="1" style="margin: auto;">
                    <thead>
                        <tr>
                            <td style="width: 20px;">م</td>
                            <td style="width: 200px;">رقم الصنف</td>
                            <td style="width: 400px;">اسم الصنف</td>
                            <td style="width: 150px;">صنف اخر</td>
                            <td style="width: 100px;">تاريخ الاستلام</td>
                            <td style="width: 70px;">المبلغ</td>
                            <td style="width: 70px;">المبلغ المدفوع</td>
                            <td style="width: 70px;">الباقي</td>

                        </tr>
                    </thead>
                    <tbody >
                        <tr>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="5">الاجمالي</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
               
                
            </div>
            شروط العقد :-
            <br>
            <p>1-يجب علي (العميل ) تسليم الفستان في موعد اقصاه ( 11 صباحا) والا سوف يعتبر بعد الساعة ( 11 صباحا) ايجار اخر بنفس المبلغ المذكور فالعقد </p>
            <p>2-يتحمل (العميل) الموقع علي هذا العقد كافة الاضرار الناجمة عن سوء استخدام الاشياء المؤجرة من المكان.</p>
            <p>3-السنتر غير مسئول عن فقدان اي متعلقات شخصية في المكان.</p>
            <p>4-اقصي عدد مرافق مع العروسة اثنان فقط</p>
            <p>5-الالتزام التام بالمواعيد التي يحددها السنتر لضبط مراحل الميكب والتواجد فالمواعيد المحددة ويعتبر السنتر غير مسئول في حالة تأخير العروسة اذا لزم الامر لذا لابد وضروري التواجد في الميعاد المحدد رجاء.</p>
            <p>6-يجب علي العميل تصفية المبلغ المتبقي قبل مغادرة السنتر.</p>
            <p>7-لا يجوز استرداد العربون لاي ظرف مهما كام (مع امكانية تغيير الموعد او الصنف)</p>
            

            <hr width="50%" style="margin:10px auto;">

            <footer>
                <p> تاريخ التحرير  :  <span >...................</span></p>
                <p> وقت التحرير  :  <span >...................</span></p>
                <p>اسم المستخدم: <span >..................</span></p>
            </footer>    
            <br>
            
        </div>
    </div>

    <div class="receipt">
        <div  class="recipt-content">
            <div class="header">
                
                <div class="titleHeader">
                    <h3>بيوتي سنتر <span class="engy">إنجـي</span></h3>
                    <p>01158003238</p>
                    <p>شارع طريق النصر - بعد التوحيد والنور ب 200 متر - بجوار فرن السفير الدور الثاني</p>
                </div>
                <div class="logo">
                    <h4>مع إنجي انتي في حتة تانية خالص</h4>
                    <img src="../../img/logo.jpg" alt="logo">
                </div>
            </div>
            <div class="content">
                <div class="group">
                    <div class="mainDetails">
                        <h4 class="receiptNamePers1"></h4>
                        <h4 class="receiptPhone1"></h4>
                    </div>
                    <div class="mainDetails">
                        <h4 class="receiptAdress1"></h4>
                        <h4 class="receiptNumReserve1"></h4>
                    </div>
                </div>
                
                <!-- <div class="mainDetails">
                    <h4 class=""></h4>
                </div> -->
                

                <table border="1" style="margin: auto;">
                    <thead>
                        <tr>
                            <td>رقم الصنف</td>
                            <td>اسم الصنف</td>
                            <td>صنف اخر</td>
                            <td>تاريخ الاستلام</td>
                            <td>المبلغ</td>
                            <td>المبلغ المدفوع</td>
                            <td>الباقي</td>

                        </tr>
                    </thead>
                    <tbody class="tbodyRecip">
                        
                        
                    </tbody>
                </table>
               
                
            </div>
            شروط العقد :-
            <br>
            <p>1-يجب علي (العميل ) تسليم الفستان في موعد اقصاه ( 11 صباحا) والا سوف يعتبر بعد الساعة ( 11 صباحا) ايجار اخر بنفس المبلغ المذكور فالعقد </p>
            <p>2-يتحمل (العميل) الموقع علي هذا العقد كافة الاضرار الناجمة عن سوء استخدام الاشياء المؤجرة من المكان.</p>
            <p>3-السنتر غير مسئول عن فقدان اي متعلقات شخصية في المكان.</p>
            <p>4-اقصي عدد مرافق مع العروسة اثنان فقط</p>
            <p>5-الالتزام التام بالمواعيد التي يحددها السنتر لضبط مراحل الميكب والتواجد فالمواعيد المحددة ويعتبر السنتر غير مسئول في حالة تأخير العروسة اذا لزم الامر لذا لابد وضروري التواجد في الميعاد المحدد رجاء.</p>
            <p>6-يجب علي العميل تصفية المبلغ المتبقي قبل مغادرة السنتر.</p>
            <p>7-لا يجوز استرداد العربون لاي ظرف مهما كام (مع امكانية تغيير الموعد او الصنف)</p>
            
            <hr width="50%" style="margin:10px auto;">

            <footer>
                <p> تاريخ التحرير  :  <span class="receiptDateNow">...................</span></p>
                <p> وقت التحرير  :  <span class="receiptTimeNow">...................</span></p>
                <p>اسم المستخدم: <span class="receiptRecieve">..................</span></p>
            </footer>     
            <br>
           
        </div>
        
        <div  class="recipt-content">
            <div class="header">
                <div class="titleHeader">
                    <h3>بيوتي سنتر <span class="engy">إنجـي</span></h3>
                    <p>01158003238</p>
                    <p>شارع طريق النصر - بعد التوحيد والنور ب 200 متر - بجوار فرن السفير الدور الثاني</p>
                </div>
                <div class="logo">
                    <h4>مع إنجي انتي في حتة تانية خالص</h4>
                    <img src="../../img/logo.jpg" alt="logo">
                </div>
            </div>
            <div class="content">
                <div class="group">
                    <div class="mainDetails">
                        <h4 class="receiptNamePers1"></h4>
                        <h4 class="receiptPhone1"></h4>
                    </div>
                    <div class="mainDetails">
                        <h4 class="receiptAdress1"></h4>
                        <h4 class="receiptNumReserve1"></h4>
                    </div>
                </div>
               
                <table border="1" style="margin: auto;">
                    <thead>
                        <tr>
                            <td>رقم الصنف</td>
                            <td>اسم الصنف</td>
                            <td>صنف اخر</td>
                            <td>تاريخ الاستلام</td>
                            <td>المبلغ</td>
                            <td>المبلغ المدفوع</td>
                            <td>الباقي</td>

                        </tr>
                    </thead>
                    <tbody class="tbodyRecip">
                        
                    </tbody>
                </table>
               
                
            </div>
            شروط العقد :-
            <br>
            <p>1-يجب علي (العميل ) تسليم الفستان في موعد اقصاه ( 11 صباحا) والا سوف يعتبر بعد الساعة ( 11 صباحا) ايجار اخر بنفس المبلغ المذكور فالعقد </p>
            <p>2-يتحمل (العميل) الموقع علي هذا العقد كافة الاضرار الناجمة عن سوء استخدام الاشياء المؤجرة من المكان.</p>
            <p>3-السنتر غير مسئول عن فقدان اي متعلقات شخصية في المكان.</p>
            <p>4-اقصي عدد مرافق مع العروسة اثنان فقط</p>
            <p>5-الالتزام التام بالمواعيد التي يحددها السنتر لضبط مراحل الميكب والتواجد فالمواعيد المحددة ويعتبر السنتر غير مسئول في حالة تأخير العروسة اذا لزم الامر لذا لابد وضروري التواجد في الميعاد المحدد رجاء.</p>
            <p>6-يجب علي العميل تصفية المبلغ المتبقي قبل مغادرة السنتر.</p>
            <p>7-لا يجوز استرداد العربون لاي ظرف مهما كام (مع امكانية تغيير الموعد او الصنف)</p>
            

            <hr width="50%" style="margin:10px auto;">

            <footer>
                <p> تاريخ التحرير  :  <span class="receiptDateNow">...................</span></p>
                <p> وقت التحرير  :  <span class="receiptTimeNow">...................</span></p>
                <p>اسم المستخدم: <span class="receiptRecieve">..................</span></p>
            </footer>
            <br>
                
        </div>
    </div>
    <script src="js/reserve.js"></script>
</body>
</html>